.midSlide {
    display: flex;
}

.mid-left {
    width: 83%;
}

.mid-right {
    margin-top: 12px;
    background: #FFFFFF;
    width: 17%;
    margin-left: 10px;
    padding: 5px;
    display: none;
}